body {
    background-image: url('../photos/slot/360_f_478872230_plscet4f5qnotcj112ekqqwo9r3yusfj.jpg');
    background-size:cover
}
#container{
    border-color:green;
    border-width:5px;
       
}